@model WebUI.Models.UserProfileViewModel

@{
    ViewData["Title"] = $"Profil {@Model.User.Username}";
}

<div class="container">
    <div class="user-profile">
        <div class="profile-pic-show">
            <img src="@Model.User.ProfilePicturePath" alt="Profile Picture" width="200" />
        </div>
        <h2>@Model.User.Username</h2>
        <p>O mnie:</p>
        <p>
            @if (string.IsNullOrEmpty(Model.User.Bio))
            {
                <span class="italic-text">Brak opisu</span>
            }
            else
            {
                @Model.User.Bio
            }
        </p>
        <div class="user-stats">
            <p>Obserwujący: @Model.FollowersCount</p>
            <p>Obserwuje: @Model.FollowingCount</p>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.User.UsernameUnique)
    {
        <form asp-action="EditRedirect" asp-controller="Profile" asp-route-name="@Model.User.UsernameUnique">
            <button class="btn btn-info">
                <i class=""></i> Edytuj profil
            </button>
        </form>
    }
    else if (!Model.IsFollowed && User.Identity.IsAuthenticated)
    {
        <form asp-action="Follow" asp-controller="Profile" asp-route-name="@Model.User.UsernameUnique">
            <button class="btn btn-primary">
                <i class=""></i> Obserwuj
            </button>
        </form>
    }
    else if (Model.IsFollowed && User.Identity.IsAuthenticated)
    {
        <form asp-action="Unfollow" asp-controller="Profile" asp-route-name="@Model.User.UsernameUnique">
            <button class="btn btn-secondary">
                <i class=""></i> Przestań obserwować
            </button>
        </form>
    }

    <hr />

    <h1>Posty użytkownika</h1>

    @if (Model.Posts != null && Model.Posts.Any())
    {
        foreach (var post in Model.Posts)
        {
            <div class="post-card">
                <div class="post-header">
                    <div class="profile-pic-post">
                        <img src="@Model.User.ProfilePicturePath" alt="Profile Picture" />
                    </div>
                    <div class="post-info">
                        <div class="user-info">
                            <h4>
                                @Model.User.Username
                                <a href="@Url.Action("Details", "Profile", new { name = Model.User.UsernameUnique })" class="user-unique-id">@@@Model.User.UsernameUnique</a>
                            </h4>
                        </div>
                        <span class="post-date">@post.CreatedAt.ToString("dd.MM.yyyy HH:mm")</span>
                    </div>
                </div>
                <div class="post-content">
                    <p>@post.Content</p>
                </div>
                <div class="post-actions">
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="action-link">Edytuj</a>
                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" class="action-link">Usuń</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>Użytkownik nie dodał jeszcze żadnych postów.</p>
    }
</div>