@model WebUI.Models.PostListViewModel

@{
    ViewData["Title"] = "Strona główna";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="mb-4">
        <h2>Opublikuj nowy post</h2>
        <form method="post" asp-action="CreatePost" asp-controller="Home">
            <div class="form-group">
                <label for="Content">Treść:</label>
                <textarea id="Content" name="Content" class="form-control no-resize" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Opublikuj</button>
        </form>
    </div>

    <h1>Najnowsze posty</h1>

    @if (Model.Posts != null && Model.Posts.Any())
    {
        foreach (var post in Model.Posts)
        {
            @if (post.Author != null)
            {
                <div class="post-card">
                    <div class="post-header">
                        <div class="profile-pic-post">
                            <img src="@post.Author.ProfilePicturePath" alt="Profile Picture" />
                        </div>
                        <div class="post-info">
                            <div class="user-info">
                                <h4>
                                    @post.Author.Username
                                    <a href="@Url.Action("Details", "Profile", new { name = post.Author.UsernameUnique })" class="user-unique-id">@@@post.Author.UsernameUnique</a>
                                </h4>
                            </div>
                            <span class="post-date">@post.CreatedAt.ToString("dd.MM.yyyy HH:mm")</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>@post.Content</p>
                    </div>
                    @if (post.Author.UsernameUnique == User.Identity.Name)
                    {
                        <div class="post-actions">
                            <a href="@Url.Action("Edit", "Post", new { id = post.Id })" class="action-link">Edytuj</a>
                            <a href="@Url.Action("Delete", "Post", new { id = post.Id })" class="action-link">Usuń</a>
                        </div>
                    }
                </div>
            }
        }
    }
    else
    {
        <p>Brak najnowszych postów.</p>
    }

}
else
{
    <h2>Witamy!</h2>
    <h2>Zaloguj się, aby uzyskać dostęp do pełnej funkcjonalności.</h2>

    <br/>

    <a href="/auth/login" class="btn btn-primary">Zaloguj się</a>
    <a href="/auth/register" class="btn btn-secondary">Zarejestruj się</a>
}

